body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    text-align: center;
    color: #333;
}

a {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0f926b;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-icons {
    margin-top: 10px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-size: cover;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px; /* Ajusta el espacio entre elementos de la lista */
}

ul li::before {
    content: "·"; /* Agrega el punto medio como contenido antes de cada elemento */
    font-weight: bold; /* Hace que el punto medio sea negrita */
    display: inline-block;
    width: 1em; /* Ajusta el ancho según sea necesario */
    margin-left: -1em; /* Alinea el punto medio con el texto */
}
.icon.twitter {
    background-image: url('https://simpleicons.org/icons/x.svg');
}

.icon.github {
    background-image: url('https://simpleicons.org/icons/github.svg');
}

.icon.instagram {
    background-image: url('https://simpleicons.org/icons/instagram.svg');
}

.icon.linkedin {
    background-image: url('https://simpleicons.org/icons/linkedin.svg');
}