body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h1 {
    text-align: center;
    color: #00796b;
}

.button-container {
    text-align: center;
}

.temario-button {
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    color: #004d40;
    text-decoration: none;
    background-color: #b2dfdb;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.temario-button:hover {
    background-color: #80cbc4;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.sobre-mi-aprendizaje {
    margin: 120px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Usamos flexbox para alinear verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
}

.sobre-mi-aprendizaje h2 {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.sobre-mi-aprendizaje p {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 16px;
}

.contenido {
    margin-left: auto; /* Empuja el contenido a la derecha */
}

.foto-aprendizaje {
    max-width: 150px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #00796b;
    color: #fff;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-size: cover;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px; /* Ajusta el espacio entre elementos de la lista */
}

ul li::before {
    content: "·"; /* Agrega el punto medio como contenido antes de cada elemento */
    font-weight: bold; /* Hace que el punto medio sea negrita */
    display: inline-block;
    width: 1em; /* Ajusta el ancho según sea necesario */
    margin-left: -1em; /* Alinea el punto medio con el texto */
}
.icon.twitter {
    background-image: url('https://simpleicons.org/icons/x.svg');
}

.icon.github {
    background-image: url('https://simpleicons.org/icons/github.svg');
}

.icon.instagram {
    background-image: url('https://simpleicons.org/icons/instagram.svg');
}

.icon.linkedin {
    background-image: url('https://simpleicons.org/icons/linkedin.svg');
}
